
header {
    text-align: right;
}

nav {
    text-align: right;
    float: right;
    padding-left: 80px;
}

section h1 {
    text-align: center;
}

footer {
    clear: both;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777777;
}
