body {
    font-family: sans-serif;
    line-height: 1.3em;
}

/* container
   =========================================================== */

.container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 8px 15px;
}

.container:after {
    content: "";
    display: block;
    clear: both;
}

/* header
   =========================================================== */

header {
    background-color: #000000;
}

header .container a {
    float: left;
    color: white;
    font-size: 24px;
    text-decoration: none;
    padding-top: 6px;
}


/* main
   =========================================================== */

main .container {
    padding-top: 0;
}

main .container header {
    border-top: 10px solid #005ea5;
}

main .nav-list {
    padding: 0;
}

main .nav-list li {
    margin: 0 0 15px;
    list-style: none;
}

main .nav-list li h3,
main .nav-list li p {
    margin: 0;
    padding-right: 25px;
}

hr {
    clear: both;
    border-width: 5px 0 0;
}

/* footer
   =========================================================== */

footer {
    border-top: 10px solid #005ea5;
    background-color: #dee0e2;
    font-size: 87.5%;
}

footer .container p {
    margin: 0;
}

/* 响应式样式 (Media Queries)
   =========================================================== */

/**
 *  最小宽度如果是 641px, 遵循下面的设置。
 */
@media (min-width: 641px) {
    /**
     * .nav-list 每行显示三列 list，其它情况默认每行显示单列。
     */
    main .nav-list {
        float: left;
        width: 33.33333%;
    }
}
