body {
    font-family: arial, sans-serif;
}

/* header
   =========================================================== */

#preamble {
    background-color: #0b0c0c;
}

.header {
    max-width: 1020px;
    margin: 0 auto;
    padding: 8px 15px;
}
